body {
    text-align: center;
    background-color: #F7ECDE;
}

h1 {
    font-family: 'Koulen', cursive;
    font-size: 5rem;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    font-family: 'Koulen', cursive;
    font-size: 3rem;
}

img {
    width: 400px;
    height: auto;
}

.info {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

footer {
    margin-top: auto;
}